<div class="jumbotron">
<h1>Welcome!</h1>
<p>CRAFTERteria is a community and marketplace for wearable crafts.<br> <em>Made it. Shared it. Sold it.</em></p>
<p><a class="btn btn-info btn-lg" href="/pages/contact" role="button">Contact us</a></p>

